name: tacostage

services:
  web:
    env_file: ".env"
    build:
      context: .
    restart: unless-stopped
    environment:
      ORIGIN: ${BASE_URL}
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - tacostage
  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - tacostage_db:/var/lib/postgresql
    networks:
      - tacostage

volumes:
  tacostage_db:

networks:
  tacostage:
    external: false